<!DOCTYPE html>
<html>
  <head>
    <title>添加文章</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/posts">
      标题：<br />
      <input type="text" name="title" /><br />
      正文：<br />
      <textarea name="content" rows="20" cols="100"></textarea><br />
      <input type="submit" value="发表" />
    </form>
  </body>
</html>
