<!DOCTYPE html>
<html>
  <head>
    <title>文章</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h3><%- post.title %></h3>
      <p>
        <%- post.content %>
      </p>
    </div>
  </body>
</html>
